@keyframes heartbeat {
    0% {
      transform: scale(0);
    }
    25% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .slider-container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    height: 600px;
    margin: -300px auto 0px -45%;
  }
  .slider-container .slider-content {
    position: relative;
    left: 50%;
    top: 50%;
    width: 70%;
    height: 60%;
    transform: translate(-50%, -50%);
  }
  .slider-container .slider-content .slider-single {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: z-index 0ms 250ms;
  }
  .slider-container .slider-content .slider-single .slider-single-image {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
    transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
    transform: scale(0);
    opacity: 0;
  }
  .slider-container .slider-content .slider-single.preactivede .slider-single-image {
    transform: translateX(-50%) scale(0);
  }
  .slider-container .slider-content .slider-single.preactive {
    z-index: 1;
  }
  .slider-container .slider-content .slider-single.preactive .slider-single-image {
    opacity: .3;
    transform: translateX(-25%) scale(0.8);
  }
  .slider-container .slider-content .slider-single.proactive {
    z-index: 1;
  }
  .slider-container .slider-content .slider-single.proactive .slider-single-image {
    opacity: .3;
    transform: translateX(25%) scale(0.8);
  }
  .slider-container .slider-content .slider-single.proactivede .slider-single-image {
    transform: translateX(50%) scale(0);
  }
  .slider-container .slider-content .slider-single.active {
    z-index: 2;
  }
  .slider-container .slider-content .slider-single.active .slider-single-image {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
  .slider-container .slider-left {
    position: absolute;
    z-index: 3;
    display: block;
    right: 85%;
    top: 50%;
    color: #ffffff;
    transform: translateY(-50%);
    padding: 20px 15px;
    border-top: 2px solid #fdc84b;
    border-right: 2px solid #fdc84b;
    border-bottom: 2px solid #fdc84b;
    border-left: 2px solid #fdc84b;
    margin-right: -2px;
  }
  .slider-container .slider-right {
    position: absolute;
    z-index: 3;
    display: block;
    left: 85%;
    top: 50%;
    color: #ffffff;
    transform: translateY(-50%);
    padding: 20px 15px;
    border-top: 2px solid #fdc84b;
    border-right: 2px solid #fdc84b;
    border-bottom: 2px solid #fdc84b;
    border-left: 2px solid #fdc84b;
    margin-left: -2px;
  }
  